[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/doctor-search-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/doctor-search-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
